<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <meta name="Generator" content="Microsoft Word 15 (filtered)" />
    <style>
       .header-1{
       width: 115.1pt;
              border: solid windowtext 1pt;
              border-bottom: none;
              background: #d0cece;
              padding: 0cm 5.4pt 0cm 5.4pt;
              }
      <!--
       /* Font Definitions */
       @font-face
      	{font-family:SimSun;
      	panose-1:2 1 6 0 3 1 1 1 1 1;}
      @font-face
      	{font-family:"Cambria Math";
      	panose-1:2 4 5 3 5 4 6 3 2 4;}
      @font-face
      	{font-family:Calibri;
      	panose-1:2 15 5 2 2 2 4 3 2 4;}
      @font-face
      	{font-family:F;}
      @font-face
      	{font-family:"Microsoft YaHei";
      	panose-1:2 11 5 3 2 2 4 2 2 4;}
      @font-face
      	{font-family:"Lucida Sans";
      	panose-1:2 11 6 2 3 5 4 2 2 4;}
      @font-face
      	{font-family:"\@Microsoft YaHei";}
      @font-face
      	{font-family:"\@SimSun";
      	panose-1:2 1 6 0 3 1 1 1 1 1;}
       /* Style Definitions */
       p.MsoNormal, li.MsoNormal, div.MsoNormal
      	{margin-top:0cm;
      	margin-right:0cm;
      	margin-bottom:8.0pt;
      	margin-left:0cm;
      	line-height:107%;
      	text-autospace:ideograph-other;
      	font-size:11.0pt;
      	font-family:"Calibri",sans-serif;}
      p.Standard, li.Standard, div.Standard
      	{mso-style-name:Standard;
      	margin-top:0cm;
      	margin-right:0cm;
      	margin-bottom:8.0pt;
      	margin-left:0cm;
      	line-height:107%;
      	text-autospace:ideograph-other;
      	font-size:11.0pt;
      	font-family:"Calibri",sans-serif;}
      .MsoChpDefault
      	{font-family:"Calibri",sans-serif;}
      .MsoPapDefault
      	{margin-bottom:8.0pt;
      	line-height:107%;
      	text-autospace:ideograph-other;}
       /* Page Definitions */
       @page WordSection1
      	{size:612.0pt 792.0pt;
      	margin:70.85pt 3.0cm 70.85pt 3.0cm;}
      div.WordSection1
      	{page:WordSection1;}
       /* List Definitions */
       ol
      	{margin-bottom:0cm;}
      ul
      	{margin-bottom:0cm;}
      -->
    </style>
  </head>

  <body lang="ES-CO" style="word-wrap: break-word">

  <div style="text-align: center;">
  <img src="FFIE.png" alt="FFIE">
  </div>
    <div class="WordSection1">
      <p class="Standard" style="margin-bottom: 0cm; line-height: normal">
        &nbsp;
      </p>

      <p
        class="Standard"
        align="center"
        style="margin-bottom: 0cm; text-align: center; line-height: normal"
      >
        <b>ACTA DE INCORPORACIÓN DE RENDIMIENTOS</b>
      </p>

      <p
        class="Standard"
        align="center"
        style="margin-bottom: 0cm; text-align: center; line-height: normal"
      >
        <b>&nbsp;</b>
      </p>

      <p
        class="Standard"
        align="center"
        style="margin-bottom: 0cm; text-align: center; line-height: normal"
      >
        <b>Acta No. </b
        ><i
          ><span style="color: red"
            >Consecutivo generado por el sistema</span
          ></i
        >
      </p>

      <p class="Standard" style="margin-bottom: 0cm; line-height: normal">
        &nbsp;
      </p>

      <p class="Standard" style="margin-bottom: 0cm; line-height: normal">
        Bogotá,
        <i
          ><span style="color: red">
            {{ minute.performances_date }}
          </span></i
        >
      </p>

      <p class="Standard" style="margin-bottom: 0cm; line-height: normal">
        <span style="color: red">&nbsp;</span>
      </p>

      <p
        class="Standard"
        style="
          margin-bottom: 0cm;
          text-align: justify;
          text-justify: inter-ideograph;
          line-height: normal;
        "
      >
        Por medio del presente documento presentamos balance de rendimientos
        financieros incorporados para los proyectos de las siguientes entidades
        territoriales:
      </p>

      <p class="Standard" style="margin-bottom: 0cm; line-height: normal">
        &nbsp;
      </p>      
      <table
        class="MsoTableGrid"
        border="1"
        cellspacing="0"
        cellpadding="0"
        width="614"
        style="width: 460.45pt; border-collapse: collapse; border: none"
      >
        <tr>
          <td
            width="153"  class ="header-1"
          >
            <p
              class="Standard"
              align="center"
              style="
                margin-bottom: 0cm;
                text-align: center;
                line-height: normal;
              "
            >
              <b><span style="font-size: 10pt">APORTANTE</span></b>
            </p>
          </td>
          <td
            width="153"
            style="
              width: 115.1pt;
              border-top: solid windowtext 1pt;
              border-left: none;
              border-bottom: none;
              border-right: solid windowtext 1pt;
              background: #d0cece;
              padding: 0cm 5.4pt 0cm 5.4pt;
            "
          >
            <p
              class="Standard"
              align="center"
              style="
                margin-bottom: 0cm;
                text-align: center;
                line-height: normal;
              "
            >
              <b
                ><span style="font-size: 10pt; color: black"
                  >SALDO ANTERIOR RENDIMIENTOS INCORPORADOS</span
                ></b
              >
            </p>
          </td>
          <td
            width="153"
            style="
              width: 115.1pt;
              border-top: solid windowtext 1pt;
              border-left: none;
              border-bottom: none;
              border-right: solid windowtext 1pt;
              background: #d0cece;
              padding: 0cm 5.4pt 0cm 5.4pt;
            "
          >
            <p
              class="Standard"
              align="center"
              style="
                margin-bottom: 0cm;
                text-align: center;
                line-height: normal;
              "
            >
              <b
                ><span style="font-size: 10pt; color: black"
                  >RENDIMIENTOS A INCORPORADOS EN ESTE MES</span
                ></b
              >
            </p>
          </td>
          <td
            width="154"
            style="
              width: 115.15pt;
              border-top: solid windowtext 1pt;
              border-left: none;
              border-bottom: none;
              border-right: solid windowtext 1pt;
              background: #d0cece;
              padding: 0cm 5.4pt 0cm 5.4pt;
            "
          >
            <p
              class="Standard"
              align="center"
              style="
                margin-bottom: 0cm;
                text-align: center;
                line-height: normal;
              "
            >
              <b
                ><span style="font-size: 10pt; color: black"
                  >NUEVO SALDO RENDIMIENTOS INCORPORADOS</span
                ></b
              >
            </p>
          </td>
        </tr>
        <tr {% for item in minute.registers -%}>
          <td
            width="153"
            style="
              width: 115.1pt;
              border: solid windowtext 1pt;
              border-top: none;
              background: white;
              padding: 0cm 5.4pt 0cm 5.4pt;
            "
          >
            <p
              class="Standard"
              align="center"
              style="
                margin-bottom: 0cm;
                text-align: center;
                line-height: normal;
              "
            >
              <i><span style="font-size: 10pt; color: red" >{{item.aportante}}</span></i>
            </p>
          </td>
          <td
            width="153"
            style="
              width: 115.1pt;
              border-top: none;
              border-left: none;
              border-bottom: solid windowtext 1pt;
              border-right: solid windowtext 1pt;
              background: white;
              padding: 0cm 5.4pt 0cm 5.4pt;
            "
          >
            <p
              class="Standard"
              align="center"
              style="
                margin-bottom: 0cm;
                text-align: center;
                line-height: normal;
              "
            >
              <i
                ><span style="font-size: 10pt; color: red"
                  >{{item.anterior}}</span
                ></i
              >
            </p>
          </td>
          <td
            width="153"
            style="
              width: 115.1pt;
              border-top: none;
              border-left: none;
              border-bottom: solid windowtext 1pt;
              border-right: solid windowtext 1pt;
              background: white;
              padding: 0cm 5.4pt 0cm 5.4pt;
            "
          >
            <p
              class="Standard"
              align="center"
              style="
                margin-bottom: 0cm;
                text-align: center;
                line-height: normal;
              "
            >
              <i
                ><span style="font-size: 10pt; color: red"
                  >{{item.anterior}}</span
                ></i
              >
            </p>
          </td>
          <td
            width="154"
            style="
              width: 115.15pt;
              border-top: none;
              border-left: none;
              border-bottom: solid windowtext 1pt;
              border-right: solid windowtext 1pt;
              background: white;
              padding: 0cm 5.4pt 0cm 5.4pt;
            "
          >
            <p
              class="Standard"
              align="center"
              style="
                margin-bottom: 0cm;
                text-align: center;
                line-height: normal;
              "
            >
              <i
                ><span style="font-size: 10pt; color: red"
                  >{{item.actual}}</span
                ></i
              >
            </p>
          </td>
        </tr {% endfor -%}>
       
        <tr style="height: 22.15pt">
          <td
            width="153"
            style="
              width: 115.1pt;
              border: solid windowtext 1pt;
              border-top: none;
              background: #d0cece;
              padding: 0cm 5.4pt 0cm 5.4pt;
              height: 22.15pt;
            "
          >
            <p
              class="Standard"
              align="center"
              style="
                margin-bottom: 0cm;
                text-align: center;
                line-height: normal;
              "
            >
              <b><span style="color: black">TOTAL GENERAL</span></b>
            </p>
          </td>
          <td
            width="153"
            style="
              width: 115.1pt;
              border-top: none;
              border-left: none;
              border-bottom: solid windowtext 1pt;
              border-right: solid windowtext 1pt;
              background: #d0cece;
              padding: 0cm 5.4pt 0cm 5.4pt;
              height: 22.15pt;
            "
          >
            <p
              class="Standard"
              align="center"
              style="
                margin-bottom: 0cm;
                text-align: center;
                line-height: normal;
              "
            >
              <i><span style="color: red">{{minute.total}}</span></i>
            </p>
          </td>
          <td
            width="153"
            style="
              width: 115.1pt;
              border-top: none;
              border-left: none;
              border-bottom: solid windowtext 1pt;
              border-right: solid windowtext 1pt;
              background: #d0cece;
              padding: 0cm 5.4pt 0cm 5.4pt;
              height: 22.15pt;
            "
          >
            <p
              class="Standard"
              align="center"
              style="
                margin-bottom: 0cm;
                text-align: center;
                line-height: normal;
              "
            >
              <i><span style="color: red">Formato pesos ($)</span></i>
            </p>
          </td>
          <td
            width="154"
            style="
              width: 115.15pt;
              border-top: none;
              border-left: none;
              border-bottom: solid windowtext 1pt;
              border-right: solid windowtext 1pt;
              background: #d0cece;
              padding: 0cm 5.4pt 0cm 5.4pt;
              height: 22.15pt;
            "
          >
            <p
              class="Standard"
              align="center"
              style="
                margin-bottom: 0cm;
                text-align: center;
                line-height: normal;
              "
            >
              <i><span style="color: red">Formato pesos ($)</span></i>
            </p>
          </td>
        </tr>
      </table>

      <p class="Standard" style="margin-bottom: 0cm; line-height: normal">
        &nbsp;
      </p>

      <p class="Standard" style="margin-bottom: 0cm; line-height: normal">
        &nbsp;
      </p>

      <p class="Standard" style="margin-bottom: 0cm; line-height: normal">
        &nbsp;
      </p>

      <p class="Standard" style="margin-bottom: 0cm; line-height: normal">
        &nbsp;
      </p>

      <p class="Standard" style="margin-bottom: 0cm; line-height: normal">
        &nbsp;
      </p>

      <p class="Standard" style="margin-bottom: 0cm; line-height: normal">
        &nbsp;
      </p>

      <p class="Standard" style="margin-bottom: 0cm; line-height: normal">
        &nbsp;
      </p>

      <p class="Standard" style="margin-bottom: 0cm; line-height: normal">
        &nbsp;
      </p>

      <p class="Standard" style="margin-bottom: 0cm; line-height: normal">
        &nbsp;
      </p>

      <p class="Standard" style="margin-bottom: 0cm; line-height: normal">
        &nbsp;
      </p>

      <p class="Standard" style="margin-bottom: 0cm; line-height: normal">
        &nbsp;
      </p>

      <div
        style="
          border: none;
          border-top: solid windowtext 1pt;
          padding: 1pt 0cm 0cm 0cm;
        "
      >
        <p
          class="Standard"
          align="center"
          style="
            margin-bottom: 0cm;
            text-align: center;
            line-height: normal;
            border: none;
            padding: 0cm;
          "
        >
          Director (a) Financiera y Administrativa
        </p>

        <p
          class="Standard"
          align="center"
          style="
            margin-bottom: 0cm;
            text-align: center;
            line-height: normal;
            border: none;
            padding: 0cm;
          "
        >
          &nbsp;
        </p>

        <p
          class="Standard"
          style="
            margin-bottom: 0cm;
            line-height: normal;
            border: none;
            padding: 0cm;
          "
        >
          &nbsp;
        </p>

        <p
          class="Standard"
          style="
            margin-bottom: 0cm;
            line-height: normal;
            border: none;
            padding: 0cm;
          "
        >
          Anexos: Estado de recursos previo y posterior a la incorporación
        </p>
      </div>

      <p class="Standard" style="margin-bottom: 0cm; line-height: normal">
        &nbsp;
      </p>

      <p class="Standard" style="margin-bottom: 0cm; line-height: normal">
        &nbsp;
      </p>

      <p class="Standard" style="margin-bottom: 0cm; line-height: normal">
        &nbsp;
      </p>

      <p class="Standard" style="margin-bottom: 0cm; line-height: normal">
        &nbsp;
      </p>

      <p class="Standard" style="margin-bottom: 0cm; line-height: normal">
        &nbsp;
      </p>

      <p
        class="Standard"
        style="
          margin-bottom: 0cm;
          text-align: justify;
          text-justify: inter-ideograph;
          line-height: normal;
        "
      >
        <span style="font-size: 8pt">&nbsp;</span>
      </p>
    </div>
  </body>
</html>
